@import url('https://fonts.googleapis.com/css?family=PT+Serif+Caption:regular,bold,italic&subset=latin,latin-ext');

body {
  margin: 0;
  font-family: "PT Serif Caption", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  text-align: center;
  width: 100vw;
  height: 42vw;

  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin:auto;

  overflow:auto;
}

.above-line-text {
  color: #757474;
}

.link-parent {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.link-child {
  margin: 1vw;
  color: #757474;
  text-decoration: none;
}

#line {
  border: 0.75px solid #9ED29D;
  width: 50vw
}

#name-text {
  color: #9ED29D;
}

h1 {
  padding-bottom: 2vw
}
